* [lang^=en] {
  color: green;
}

.app-navbar {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 6px -5px rgba(222,222,222,0.32);
  font-family: "Jaldi";
  font-weight: 700;
  font-size: 36px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.app-header img {
  max-height: 323px;
  object-fit: cover;
}

.app-section {
  max-width: 600px;
}


.app-main{
  display: grid;
  grid-template-rows: repeat(3,min-content) 1fr min-content;
}
